body {
      font-size: calc(12px + 0.3vw); /*Dit zorgt voor een goede grootte op elk apparaat*/
    }

    * {
      /*Dit zijn wat algemene instellingen over het lettertype enz.*/
      color: white;
      font-weight: 500;
      font-family: 'Comfortaa', sans-serif;
    }

    .title-bar {
      /*Dit is de gele balk aan de bovenkant van het scherm*/
      background-color: #ffd800;
      color: #024b53;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-family: 'Comfortaa', sans-serif;
      top: 0;
      border-radius: 0px 0px 10px 10px;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      left: 0;
      z-index: 1; /*Boven alle tekst*/
      position: absolute; /*De titelbalk blijft staan*/
      text-align: right;
    }

    a:link,
    a {
      /*Alle links krijgen een lichtblauwe kleur*/
      color: #59b0bd;
      background-color: transparent;
      text-decoration: none;
    }

    a:hover,
    a:active {
      /*Alle links krijgen een lichtblauwe kleur*/
      color: #59b0bd;
      background-color: transparent;
      text-decoration: underline;
    }

      .mainheader {
        padding: 60px;
        text-align: center;
        background-image: url("mainheader.png");
        color: white;
        font-size: 30px;
      }

    .fotometrand {
      /*Code voor een foto met een schaduw, geronde hoeken, enz.
      Gebruik deze code om een plaatje er wat beter uit te laten zien.*/
      width: 10rem;
      height: auto;
      border-radius: 2rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      max-width: 90vw;
      pointer-events: none;
    }

    .header {
      /*Code voor de header op de Homepagina*/
      height: auto;
      width: 100vw;
      max-width: 60rem;
    }

    .h1 {
      font-size: 1.5rem;
    }

    .h2 {
      font-size: 1rem;
    }

    .logo {
      /*Dit is voor dat gifje in de linkerbovenhoek*/
      position: fixed;
      z-index: 1; /*Het staat voor de tekst*/
      height: auto;
      border-radius: 2.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      max-width: 90vw;
      pointer-events: none;
      width: 5rem;
    }

    .naastelkaar {
      /*Als je 2 div's OP EEN COMPUTER naast elkaar wilt zetten (en op een telefoon onder elkaar), dan moet je dit gebruiken.*/
      width: auto;
      height: auto;
      display: inline-block;
    }

      @media screen and (max-width: 767px) {
      .extra-space {
        margin-top: 10rem;
      }
    }
