body {
	font-size: calc(12px + 0.3vw);
	/*Dit zorgt voor een goede grootte op elk apparaat*/
	padding: 0 4px 0 4px;
	background-image: url(images/background.jpg);
	background-color: #DDD;
}

* {
	/*Dit zijn wat algemene instellingen over het lettertype enz.*/
	font-weight: 500;
	font-family: 'Comfortaa', sans-serif;
}

/*DE VOLGENDE 3 ELEMENTEN HEBBEN ALLEMAAL VRIJWEL DEZELFDE CODE*/
.title-bar {
	/*Dit is de gele balk aan de bovenkant van het scherm*/
	background-color: #024b53;
	color: #CCC;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-family: 'Comfortaa', sans-serif;
	top: 0;
	width: calc(100% - 24px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left: 0;
	z-index: 2;
	/*Boven alle tekst*/
	position: fixed;
	/*De titelbalk blijft staan*/
	text-align: right;
	border-radius: 0 0 1rem 1rem;
	margin-left: 12px;
	height: 1rem;
}

.temp-banner {
	/*Dit is de code voor de tijdelijke banner*/
	background-color: #e5c200;
	color: #024b53;
	padding-top: 5rem;
	padding-bottom: 0.75rem;
	font-family: 'Comfortaa', sans-serif;
	top: 0;
	width: calc(100% - 24px);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	left: 0;
	z-index: 1;
	position: absolute;
	/*De titelbalk blijft staan*/
	text-align: center;
	border-radius: 0 0 1rem 1rem;
	margin-left: 12px;
}

.footer {
	/*Dit is de gele balk aan de onderkant van het scherm*/
	background-color: white;
	color: #024b53;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-family: 'Comfortaa', sans-serif;
	width: calc(100% - 24px);
	left: 0;
	z-index: 1;
	position: absolute;
	border-radius: 1rem;
	margin-left: 12px;
	box-shadow: 5px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*DE AFGELOPEN 3 ELEMENTEN HEBBEN ALLEMAAL VRIJWEL DEZELFDE CODE*/

.mainheader {
	/*Dit is de code voor een blok met een blauwe achtergrond.*/
	padding: 1rem;
	text-align: center;
	background-color: #024b53;
	color: white !important;
	font-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1rem;
	box-shadow: 5px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainimageheader {
	/*Dit is de code voor een soort hero-image AAN DE BOVENKANT VAN EEN PAGINA, die heel vaak op de site gebruikt wordt.*/
	margin-top: calc(4rem - 2vw);
	padding: 1rem;
	text-align: center;
	background-image: url("mainheader.jpg");
	color: white !important;
	font-size: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1rem;
	box-shadow: 5px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fotometrand {
	/*Code voor een foto met een schaduw, geronde hoeken, enz. Gebruik deze code om een plaatje er wat beter uit te laten zien.*/
	width: 10rem;
	height: auto;
	box-shadow: 5px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-width: 90vw;
	pointer-events: none;
	border: #DDD 5px solid;
	border-radius: 1rem;
}

.h1 {
	font-size: 1.5rem;
}

.h2 {
	font-size: 1rem;
}

.logo {
	/*Dit is voor dat gifje in de linkerbovenhoek*/
	top: 0.5rem;
	left: calc(1rem + 4px);
	position: fixed;
	z-index: 3;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	max-width: 90vw;
	pointer-events: none;
	width: 3rem;
	border-radius: 0.5rem;
}

@media screen and (max-width:550px) {
  	/*Verberg het logo op mobiele apparaten*/
	.logo { display:none }
}

.naastelkaarL {
	/*Als je 2 div's naast elkaar wilt zetten, dan moet je dit gebruiken.*/
	display: inline-block;
	width: 12rem;
	height: 8rem;
	padding: 3rem 0;
	position: relative;
	color: #024b53;
}

.naastelkaarR {
	/*Als je 2 div's naast elkaar wilt zetten, dan moet je dit gebruiken.*/
	display: inline-block;
	width: 55rem;
	height: 8rem;
	padding: 3rem 0;
	position: relative;
	max-width: calc(92vw - 12rem);
	color: #024b53;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.extra-space {
	margin-top: 10rem;
}


/*Animatie voor de downloadknop*/
.downloadbutton {
      	width: 20rem;
	transition: all 0.3s;
	margin: auto;
}

/*Animatie voor de downloadknop*/
.downloadbutton:hover {
	transform: matrix(1.2, 0, 0, 1.2, 14, 3.5) rotate(6deg);
}

.instagradient {
	/*Dit is de gekleurde gradient voor het woordje 'Instagram'.*/
	background: -webkit-linear-gradient(-45deg, purple, red, orange);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

a:link,a {
	/*Alle links krijgen een lichtblauwe kleur*/
	color: #59b0bd;
	background-color: transparent;
	text-decoration: none;
}

a:hover,a:active {
	/*Alle links krijgen een lichtblauwe kleur*/
	color: white;
	background-color: transparent;
	text-decoration: underline;
}

.links-container {
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0;
    	position: absolute;
    	top: 50%;
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
    	/* text-align: right; */
    	right: 0.5rem;
	line-height: 1.8;
}

/*Als je de site bekijkt op een mobiel dan verdwijnen met deze code alle links in de menubar, om plek te maken voor het hamburgermenu.*/
@media screen and (max-width: 600px) {
	
	.links-container {display: none;}
}
